[Unit]
Description=Disable secondary graphic card on boot
Before=display-manager.service graphical.target

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/usr/share/pardus/pardus-nvidia-installer/pni-disable-gpu.sh

[Install]
WantedBy=multi-user.target
