[Unit]
Description=Disable secondary graphic card on boot
Before=dbus.service

[Service]
Type=oneshot
RemainAfterExit=yes
User=root
ExecStart=/usr/share/pardus/pardus-nvidia-installer/pni-disable-gpu.sh

[Install]
RequiredBy=multi-user.target

