[Unit]
Description=Disable secondary graphic card on boot
Before=dbus.service

[Service]
Type=simple
User=root
ExecStart=/usr/share/pardus/pardus-nvidia-installer/pni-disable-gpu.sh
Restart=on-failure

[Install]
RequiredBy=multi-user.target

